html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #e2e2e2;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
    background: #E2E2E2;
 
    }

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: Calibri, sans-serif !important;
  font-weight: bold;
}

@media all and (display-mode: minimal-ui) {
  #install-banner { display: none }
}

@media all and (display-mode: standalone) {
  #install-banner { display: none }
}

header  {
    background: #FFF;
    text-transform: uppercase;
    height: 80px;
}

header h1 {
    color: #FFCC00 !important;
}

header  div {
    background-position: 13px !important;
    height: 80px;
}


footer {
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
