html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Calibri, sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFCC00 url('/images/background.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
    background: rgba(255, 255, 255, 0.8)
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: Calibri, sans-serif !important;
  color: #FFCC00 !important;
  font-weight: bold;
}

@media all and (display-mode: minimal-ui) {
  #install-banner { display: none }
}

@media all and (display-mode: standalone) {
  #install-banner { display: none }
}

header  {
    background: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
}


#logo  {
    display: block;
    width: 48px;
    height: 48px;
    background: url('/images/sunshine.svg');
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -1000%;
    overflow:hidden;
}
footer {
    background: #FFFFFF;
}

