html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Calibri, sans-serif !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
    border-left-color: rgb(230, 236, 240);
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: rgb(230, 236, 240);
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-color: rgb(230, 236, 240);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: Calibri, sans-serif !important;
  color: #FFCC00 !important;
  font-weight: bold;
}

@media all and (display-mode: minimal-ui) {
  #install-banner { display: none }
}

@media all and (display-mode: standalone) {
  #install-banner { display: none }
}

header  {
    text-transform: uppercase;
    border-bottom: 1px solid rgb(204, 214, 221);
}

footer {
}

